@import "variables.scss";

#country-list {
  padding-top: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  flex: 1;
  min-height: 0;
  user-select: none;
  cursor: default;
  display: flex;
  flex-flow: column;

  #list-wrapper {
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    margin-top: 24px;

    ul {
      overflow-y: auto;
      overscroll-behavior-y: contain;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: calc(100% - 32px);

      &:hover {
        cursor: pointer;
      }

      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid hsla(0, 0%, 100%, 0.05);
        margin: 0;
        padding: 0 0 0 24px;
        position: relative;

        &::before {
          background-color: transparent;
          position: absolute;
          height: 100%;
          left: 0;
          width: 2px;
          content: "";
        }

        &:hover {
          color: #fff;

          &::before {
            background-color: $spotify_green_color;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 16px;
      }
      &::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        border-radius: 16px;
        background-clip: padding-box;
        min-height: 30px;
        background-color: hsla(0, 0%, 100%, 0.3);
      }
    }

    .search-bar {
      .bar {
        padding: 0;
        margin: 0 24px;
        input {
          color: #000000;
          padding: 6px 24px;
          height: 20px;
          line-height: 20px;
          width: calc(100% - 48px);
          border: 0;
          border-radius: 500px;
          outline: 0;
          font-size: 14px;
          letter-spacing: 0.015em;
        }
      }
    }
  }
}
