@import "variables.scss";

.detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s 0.5s ease-in-out;
  z-index: 2;

  #details {
    opacity: 1;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "legend-to-plots weekly-songs" "all-time-graph weekly-songs" "song-comparison weekly-songs";
    background-color: $Root__wrapper_background;

    .Detail__all-time-graph {
      grid-area: all-time-graph;
      width: 100%;
      height: 100%;
    }

    .Detail__legend-to-plots {
      grid-area: legend-to-plots;
      width: 100%;
      height: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .Detail__weekly-songs {
      grid-area: weekly-songs;
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      nav {
        width: 100%;

        ul {
          text-align: left;
          list-style: none;
          padding-left: 0;

          li {
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            letter-spacing: 0.16em;
            display: inline-block;

            div {
              display: inline-block;
              margin: 15px 32px 15px 0;
              position: relative;
              cursor: pointer;

              &::before {
                content: "";
                height: 2px;
                background-color: transparent;
                width: 30px;
                position: absolute;
                display: block;
                left: 50%;
                bottom: -4px;
                margin-left: -15px;
                cursor: default;
              }
            }

            .active {
              color: #ffffff;

              &::before {
                background-color: $spotify_green_color;
              }
            }
          }
        }
      }

      #weekly-songs-list-window {
        position: relative;

        .weekly-song-list-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transition: opacity 0.25s ease-in-out;

          .weekly-song-list {
            opacity: 1;

            ol {
              padding-left: 20px;
              cursor: pointer;
              list-style: none;
              padding-left: 0;

              li {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                transition: background-color 0.1s linear;

                &:hover {
                  background-color: hsla(0, 0%, 100%, 0.1);
                }

                .song-entry-wrapper {
                  flex: 1 1 0;
                  height: 65px;
                  padding-left: 15px;
                  margin-bottom: -5px;

                  .song-name {
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.015em;
                    color: #ffffff;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-top: 10px;
                  }

                  .artist-name {
                    color: #ffffff;
                    display: inline-block;
                    opacity: 0.6;
                    position: absolute;
                    left: 15px;
                  }

                  .spotify-link {
                    color: $spotify_green_color;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 10pt;
                    position: absolute;
                    right: 15px;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }

        .weekly-song-list-wrapper-hidden {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    .Detail__song-comparison {
      grid-area: song-comparison;
      width: 100%;
      height: 100%;

      .attribute-text {
        font-size: 9px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.16em;
      }
    }
  }
}

#attr-barchart-wrapper {
  height: 100%;
}

.detail-hidden {
  opacity: 0;
  pointer-events: none;
}

.selected-song {
  background-color: hsla(0, 0%, 100%, 0.1);
}

#close-detail {
  color: #fff;
  background-color: #282828;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 5px 10px 5px;
  font-weight: bolder;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

#close-detail:hover {
  background: #2d2d2d;
}
