* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.yAxisRed line {
  stroke: white !important;
}

.yAxisRed path {
  stroke: white !important;
}

.xAxisRed line {
  stroke: white !important;
}

.xAxisRed path {
  stroke: white !important;
}

div#layout {
  text-align: center !important;
}

#bar svg {
  width: 100%;
  height: 100%;
  margin-top: -40px;
}

.bar {
  fill: #80cbc4;
}

#bar text {
  font-size: 12px;
  /*fill: #fff;*/
  fill: #fff;
}

#bar path {
  stroke: gray;
}

#bar line {
  stroke: gray;
}

line#limit {
  stroke: #fed966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9faaae;
  stroke-opacity: 0.3;
}

#bar text.divergence {
  font-size: 14px;
  fill: #2f4a6d;
}

#bar text.value {
  font-size: 14px;
}

#bar text.title {
  font-size: 22px;
  font-weight: 600;
}

#bar text.label {
  font-size: 14px;
  font-weight: 400;
}

#bar text.source {
  font-size: 10px;
}

.header {
  padding: 40px 0px 40px 40px;
}

.header h1 {
  font-weight: bold;
}

.header h3 {
  color: #676060;
  font-weight: 400;
}

.section {
  padding: 0px 40px 40px 40px;
}

.subSection {
  vertical-align: top;
  display: inline-block;
}

.subSection h2 {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-stretch: condensed;
  padding-bottom: 20px;
}

#bar {
  width: 980px;
  height: 500px;
  padding-left: 60px;
}

#song-stats {
  float: right;
  margin-bottom: 40px;
}

table {
  width: 500px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
}

th {
  border: 1px solid none;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

td {
  border: none;
  padding: 8px;
  border-bottom: 1px solid #dddddd;
}
#detailed {
  background-color: #535353;
  color: #fff;
}
