@import "variables.scss";

#information-button-wrapper {
  h2 {
    display: inline-block;
    margin: 0;
    padding: 4px 0 2px 10px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-weight: bold;
  }

  hr {
    margin: 0;
    border-color: #282828;
  }
}

#information-button {
  display: flex;
  width: calc(100% - 48px);
  padding: 8px 24px 8px 24px;
  align-items: center;

  &:hover {
    color: #ffffff;
  }
}

.information-button-text {
}
.information-button-icon {
}
