@import "variables.scss";

/* Extra long horizontal gridlines for y-axis */
.y-gridline{
  stroke: rgba($body_color, 0.1);
  stroke-width: 1px;
}


/* The line itself that illustrates the path between data points */
.line {
  fill: none;
  stroke: $spotify_green_color;
  stroke-width: 1px;

  /* Adds animation to the path when data is loaded */
  &.line-loaded{
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: drawline 2.5s ease-in forwards;
  }
}

/* The vertical line that helps mark the correct data point */ 
.chart-marker {
  fill: rgba(#b2b2b2, 40);
}

/* The circles that represent each data point */
.chart-dot {
  fill: $spotify_green_color;
}
.chart-dot.nonfocus{
  opacity: 0.5;
  r: 3px;
  transition: opacity 0.4s ease, r 0.4s ease;
}
.chart-dot.focus {
  opacity: 1.0;
  r: 5px;
  transition: opacity 0.8s ease, r 0.8s ease;
  transition-delay: 0.05s;
  fill: ligthen($spotify_green_color, 60);
  stroke: darken($spotify_green_color, 20);
  stroke-width: 1px;
}

/* Styling of hover tooltip */
.chart-tooltip {
  display: block;
  position: absolute;
  text-align: center;
  width: 50px;
  padding: 2px;
  font: 9px sans-serif;
  background: $body_color;
  color: darken($spotify_green_color, 40);
  border: 1px #222 solid;
  border-radius: 8px;
  pointer-events: none;
  z-index: 100;
}

/* Animation of drawing the line path of the chart/graph */ 
@keyframes drawline{
  from {
    stroke-dashoffset: 10000;
  }
  to {
    stroke-dashoffset: 0;
  }
}