@import "modal.scss";
@import "worldmap.scss";
@import "timeslider.scss";
@import "attr_list.scss";
@import "country_list.scss";
@import "detailview.scss";

html,
body {
  margin: 0;
  height: 100vh !important;
  width: 100vw !important;
  font-family: "Roboto", sans-serif;
}

.mdl-layout__content,
.page-content {
  height: 100%;
}

.mdl-cell {
  height: calc(100% - 16px);
}
