@import "modal.scss";
@import "worldmap.scss";
@import "timeslider.scss";
@import "attr_list.scss";
@import "country_list.scss";
@import "detailview.scss";
@import "variables.scss";

/* Layout */
html,
body {
  margin: 0;
  min-width: 800px;
  min-height: 600px;
  display: flex;
  overscroll-behavior-y: none;
  overflow: hidden;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  color: $body_color;
}

.Root__wrapper {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "country-list main-view" "timeslider-bar timeslider-bar";
  background-color: $Root__wrapper_background;

  .Root__country-list,
  .Root__main-view {
    display: flex;
    flex-direction: column;
    min-height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }

  .Root__country-list {
    will-change: transform;
    grid-area: country-list;
    width: 230px;
    z-index: 3;
    background-color: $Root__country-list_background;
  }

  .Root__main-view {
    grid-area: main-view;
    width: 100%;
    position: relative;

    .main-view-wrapper {
      flex: 1;
      min-height: 0;
    }
  }

  .Root__timeslider-bar {
    grid-area: timeslider-bar;
    width: 100%;
    z-index: 4;
  }
}

.mdl-layout__content,
.page-content {
  height: 100%;
}

.mdl-cell {
  height: calc(100% - 16px);
}

.top-grid {
  height: calc(85% - 8px);
  padding-bottom: 0;

  .mdl-card {
    width: 100%;
    height: 100%;

    .mdl-card__media {
      height: 100%;
      background-color: white;

      .world-detail {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.slider-grid {
  padding-top: 0;
  height: calc(15% - 8px);

  .mdl-card {
    width: 100%;
    height: 100%;
    min-height: 0;

    .mdl-card__media {
      height: 100%;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
