@import "modal.scss";
@import "worldmap.scss";
@import "timeslider.scss";
@import "attr_list.scss";
@import "country_list.scss";
@import "detailview.scss";

html,
body {
  margin: 0;
  height: 100vh !important;
  width: 100vw !important;
  font-family: "Roboto", sans-serif;
}

.mdl-layout__content,
.page-content {
  height: 100%;
}

.mdl-cell {
  height: calc(100% - 16px);
}

.top-grid {
  height: calc(85% - 8px);
  padding-bottom: 0;

  .mdl-card {
    width: 100%;
    height: 100%;

    .mdl-card__media {
      height: 100%;
      background-color: white;

      .world-detail {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.slider-grid {
  padding-top: 0;
  height: calc(15% - 8px);

  .mdl-card {
    width: 100%;
    height: 100%;
    min-height: 0;

    .mdl-card__media {
      height: 100%;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
