/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 10px;
  background-color: black;
  color: b2b2b2;
  border-radius: 2px 2px 0 0;
}
.modal-header span {
  align-self: start;
}
.modal-header h2 {
  margin: 0;
  padding: 4px 0 2px 20px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-weight: bold;
}

/* Modal Body */
.modal-body {
  padding: 30px;
  padding-top: 0;
  border-radius: 0 0 2px 2px;
  width: calc(100% - 60px);
  height: calc(100% - 114px);
  overflow-y: scroll;

  iframe {
  }

  .flex-teamlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 24px;

    div {
      margin-bottom: 20px;
      p {
        margin: 0;
        padding: 4px 0 2px 0;
        position: relative;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        font-weight: bold;
      }

      img {
        border: 0;
        width: 150px;
        height: 150px;
        border-radius: 4px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          position: relative;
          font-size: 10px;
          line-height: 20px;
          text-transform: uppercase;
          letter-spacing: 0.16em;
          font-weight: bold;
        }
      }
    }
  }
}
.modal-body img {
  border: 1px solid black;
  width: calc(100% - 20px);
}

#information-button,
#background-button,
#team-button {
  cursor: pointer;
}

.information-close,
.background-close,
.team-close {
  cursor: pointer;
  font-size: 20px;
}

/* Modal Content */
.modal-content {
  display: none;
  position: absolute;
  background-color: #3a3a3a;
  z-index: 99;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: 80% !important;
  border-radius: 2px;
  height: auto;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-body h2 {
  margin: 0;
  margin-top: 30px;
  padding: 4px 0 2px 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-weight: bold;
}

.modal-body p {
  margin: 0;
  padding: 4px 0 2px 24px;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 8%;
    opacity: 1;
  }
}
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 98;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
