.tooltip-content {
  visibility: hidden;
  min-width: 300px;
  background: #282828;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
}

.tooltip-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #282828 transparent transparent;
}
