.tooltip-content {
  visibility: hidden;
  min-width: 300px;
  background: #282828;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
}

.tooltip-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #282828 transparent transparent;
}

.country-tooltip {
  opacity: 0;
  position: absolute;
  padding: 6px 6px 2px;
  min-width: 30px;
  font-size: 11px;
  line-height: 13px;
  background: #282828;
  color: #fff;
  border-radius: 6px;
  z-index: 10;
  pointer-events: none;
}