$Root__country-list_background: #040404;
$timeslider-bar-wrapper_background: #282828;
$Root__wrapper_background: #121212;
$body_color: #b3b3b3;
$body_color_active: #ffffff;
$spotify_green_color: #1ed760;
