@import "variables.scss";

.world-detail {
  height: 100%;
  width: 100%;
  display: block;

  .world-wrapper {
    height: 100%;
    width: 100%;

    #world {
      height: 100%;
      width: 100%;

      svg {
        width: 100%;
        height: 100%;
        background-color: #3a3a3a;
        position: absolute;

        g {
          path {
            transition: fill 0.4s ease-in-out;
          }
        }

        .defaultCountry {
          fill: #121212;
          stroke: #b3b3b3;
          stroke-width: 0.1;
        }

        .countryHighlight {
          stroke: rgba(255, 255, 255, 0.7);
          stroke-width: 1;
          fill: none;
        }

        .countryIsInCurrentData {
          stroke: #121212;
        }
      }
    }
  }
}
