.world-detail {
  height: 100%;
  width: 100%;
  display: block;

  .world-wrapper {
    height: 100%;
    width: 100%;

    #world {
      height: 100%;
      width: 100%;

      svg {
        width: 100%;
        height: 100%;
        background-color: #535353;
        position: absolute;

        .defaultCountry {
          fill: #121212;
          stroke: #b3b3b3;
          stroke-width: 0.1;
        }

        .countryIsInCurrentData {
          stroke: #121212;
        }
      }
    }
  }
}
